# Files #############
boltzmann_transport/__pycache__
boltzmann_transport/__pycache__/*
boltzmann_transport/tempCodeRunnerFile.py

examples/.ipynb_checkpoints
examples/data/*
examples/sim/*
examples/tempCodeRunnerFile.py

doc/readme_units_conversion_ADMR.pdf

.vscode

