__pycache__
.ipynb_checkpoints
Readme_units_conversion_ADMR.pdf
experimental_data
equi-energ.nb
readme_units_conversion_ADMR.pdf
testInheritance.py
trajectory_yawen_2018-11-28
tempCodeRunnerFile.py
RH_Gael.dat